<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="ReportSaveFolder"
         value="C:\Informes" />
    <add key="DataSource"
         value="ServerName" />
    <add key="InitialCatalog"
         value="DatabaseName" />
    <add key="UserId"
         value="user" />
    <add key="Password"
         value="password" />
    <add key="TrustServerCertificate"
         value="true" />
    <add key="EnableReportIndividual"
         value="true" />
    <add key="EnableReportBetweenDates"
         value="true" />
    <add key="EnableProductionSheet"
         value="true" />
	</appSettings>

  
</configuration>
