<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="ReportSaveFolder" value="C:/Informes" />
    <add key="ReportConfigFolder" value="C:/Informes/Config" />
		<add key="DataSource" value="localhost" />
		<add key="InitialCatalog" value="MyDatabase" />
		<add key="EnableReportIndividual" value="true" />
		<add key="EnableReportBetweenDates" value="true" />
		<add key="EnableProductionSheet" value="false" />
	</appSettings>

  <connectionStrings>
    <add name="DatabaseConnection"
         connectionString="Server=PORTATIL117\WINCC;Database=ZC_DATOS;User=zc;Password=zciiyc;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>
