<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FirstStart" value="False"/>
		<add key="ReportSaveFolder" value="C:\Informes"/>
		<add key="DataSource" value= "DataSource"/>
		<add key="InitialCatalog" value= "InitialCatalog"/>
		<add key="UserId" value= "UserId"/>
		<add key="Password" value= "Password"/>
		<add key="TrustServerCertificate" value="True" />
		<add key="EnableReportIndividual" value="True" />
		<add key="EnableReportBetweenDates" value="True" />
		<add key="EnableProductionSheet" value="True" />
	</appSettings>

  
</configuration>
